<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editor.NitEditor"
            default="false"
            extensions="nit"
            icon="Resources/nit_logo.png"
            id="eclipse.editor.nit.ndt.editor"
            name="Nit Editor">
      </editor>
   </extension>
   <extension
         id="org.uqam.nit.ndt.builder"
         name="Nit Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="builder.NitBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.uqam.nit.ndt.nature"
         name="Nit Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="builder.NitNature">
         </run>
      </runtime>
      <builder
            id="org.uqam.nit.ndt.builder">
      </builder>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="preferences.NitPreferencePage"
            id="org.uqam.nit.ndt.NitPreferencePage"
            name="Nit">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="Nit"
            class="newprojectwizard.NewProjectWizard"
            icon="Resources/nit_project.png"
            id="org.uqam.nit.ndt.newProjectWizard"
            name="Nit Project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="builder.NitNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspective.NitPerspective"
            icon="Resources/nit_perspective.png"
            id="perspective.NitPerspective"
            name="Nit Development">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="launcher.NitLauncher"
            id="org.uqam.nit.ndt.nitLauncher"
            modes="run"
            name="Nit Program"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.uqam.nit.ndt.nitLauncher"
            icon="Resources/nit_logo.png"
            id="org.uqam.nit.ndt.nitLauncherImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="launcher.NitLauncherTabGroup"
            id="org.uqam.nit.ndt.nitLaunchProgram"
            type="org.uqam.nit.ndt.nitLauncher">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.uqam.nit.ndt.nitLaunchShortcut"
            icon="Resources/nit_logo.png"
            id="org.uqam.nit.ndt.nitLaunchShortcut"
            label="Nit Program"
            modes="org.uqam.nit.ndt.shortcut1">
            	<perspective
                   id="org.uqam.nit.ndt.perspective.NitPerspective">
            	</perspective>
      </shortcut>
   </extension>
</plugin>
