<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editor.NitEditor"
            default="false"
            extensions="nit"
            id="eclipse.editor.nit.editor1"
            name="Nit Editor">
      </editor>
   </extension>

</plugin>
